* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body {
background: linear-gradient(45deg, #0066ff, #080808, #5c8dd6);
background-size: 300% 300%;
animation: gradientAnimation 10s ease-in-out infinite alternate;
}



/* header page */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    padding: 10px 20px;
}


#backpic {
    width: 100%;
    height: 100vh;
    background-image: url(./Pictures/image_123650291-Photoroom-removebg.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    border: 2px solid transparent; 
} 


.container {
    padding: 5px 10%;
}

.first-name {
    font-size: 25px;
    color: #0066ff;
    margin-top: 20%;
}

.last-name {
    font-size: 25px;
    color: #fff;
    margin-top: 20%;
}

.logo {
    color: #fff;
    margin-right: 10px;
    margin-left: -5vh;
    text-decoration: none;
    display: inline-block;
}

.menu-toggle {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
    

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #0066ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}


/* header text */

.header-text {
    margin-top: 20%;
    font-size: 30px;
    color: #fff;
    padding-left: 5px; 
    margin-left: 7vh;
}

.header-text h1 {
    font-size: 50px;
    margin-top: 20px;
}

.header-text span {
    color: #0066ff;
}

/* typing animation */

#typed-header::after {
    content: "|"; 
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}



/* about me */

#about {
    padding: 80px 0;
    color: #ababab;
}




.subtitle {
    padding-bottom: 5px;
    background-image: linear-gradient(90deg, #ff8c00, #ff0080, #6a5acd, #00bfff);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textGradient 3s linear infinite;
    white-space: nowrap;
    cursor: pointer;
}

@keyframes textGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.subtitle span {
    display: inline-block;
    transition: transform 0.2s ease-out;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: inherit;
    cursor: pointer;
}




.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col1 {
    flex-basis: 35%;
}

.col1 img {
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
    border-radius: 15px;
}


.col2 {
    flex-basis: 60%;
}


/* tabs in about me */ 

.tabs {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 30px;
}

.links {
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #0066ff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.links.active::after {
    width: 50%;
}

.links.active:hover::after {
    width: 100%;
}

.tab-contents ul li {
    list-style: none; 
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #0066ff;
    font-size: 14px;
}

.tab-contents {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    clip-path: inset(0 100% 0 0);
    transition: clip-path 1.2s cubic-bezier(0.6, 0, 0.4, 1), opacity 1s;
    width: 100%;
    left: 0;
    top: 0;
}

.tab-contents.active-tab {
    position: relative; 
    opacity: 1;
    visibility: visible;
    clip-path: inset(0 0% 0 0);
}


/* Portfolio */ 

.sub-title {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
    background-image: linear-gradient(90deg, #ff8c00, #ff0080, #6a5acd, #00bfff);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textGradient 3s linear infinite;
    white-space: nowrap;
    cursor: pointer;
}

@keyframes textGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Bulging effect */
.sub-title span {
    display: inline-block;
    transition: transform 0.2s ease-out;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: inherit;
    cursor: pointer;
}




/* Portfolio */
#portfolio {
    padding: 50px 0;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

#portfolio.show {
    opacity: 1;
    transform: translateY(0);
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.work img {
    width: 100%; 
    height: 100%;
    border-radius: 10px; 
    display: block;
    transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
}

.work p {
    color: #fff;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #5c8dd6);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center; 
    transition: 0.5s;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.layer h3 {
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
}

.layer a { 
    font-size: 20px;
    margin-top: 20px;
    color: #004cff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px; 
    width: 60px;
    height: 60px;
    background: #5c8dd6;
    border-radius: 50%;
    text-align: center; 
}

.work:hover img {
    transform: scale(1.05);
    filter: blur(5px);
}

.work:hover .layer {
    height: 100%;
    opacity: 1;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #0066ff;
    padding: 14px 30px;
    border-radius: 10px;
    color: #5c8dd6;
    text-decoration: none;
    transition: background 0.5s, color 0.5s;
}

.btn:hover {
    background: #0066ff; 
    color: #fff;
}

.work.show {
    opacity: 1;
    transform: translateY(0);
}


/* Contact */

.contact-left {
    flex-basis: 40%;
    padding-left: 10px;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
    color: #fff;
}

.contact-left p i {
    font-size: 20px;
    margin-right: 10px;
    color: #004cff;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
    display: inline-block;
    color: #5c8dd6; 
    transition: transform 0.5s;
}

.social-icons :hover { 
    color: #0066ff;
    transform: translateY(-5px);
}




.btn.btn2 {
    display: inline-block;
    color: #5c8dd6;
}

.btn.btn2:hover {
    background: #0066ff;
    color: #fff;
}
    

.contact-right form {
    width: 100%;
}



form input, form textarea {
    width: 90%;
    border: 0;
    outline: none;
    background: #fff;
    padding: 15px;
    margin: 15px 0;
    color: #080808;
    font-size: 16px;
    border-radius: 6px; 

}


form .btn2 {
    padding: 14px 60px;
    font-size: 17px;
    margin-top: 18px;
    cursor: pointer;
}

#msg {
    color: #0066ff;
    margin-top: -42px;
    margin-bottom: 25px;  
    display: block;
}
